/config/secrets.yml
/config/database.yml
/config/deploy/staging.rb
/config/deploy/production.rb
.byebug_history
.rspec-failures

.DS_Store
/.bundle
/.vagrant


# Ignore all logfiles and tempfiles.
/log
!/log/.keep
/tmp
!/tmp/.keep
/reports/*.*
!/reports/.keep

# Ignore encrypted secrets key file.
config/secrets.yml.key
config/secrets.yml.enc

*.sql
/lab
