.box-content
  = simple_form_for @moved_out_reason, html: { class: "basic" } do |f|
    = f.error_notification class: "warning"

    = f.input :name

    = render 'submit', form: f, cancel_path: moved_out_reasons_path
