= s.input :name, label: 'Extra dossiernummer', wrapper: :addon do
  = s.input_field :_destroy, as: :hidden
  = s.input_field :name, class: "form-control"
  %span.input-group-btn
    %button.btn.btn-default.remove{ type: :button }
      %span.m-icon-close-0
