.box-content
  = simple_form_for @target_group, html: { class: "basic" } do |f|
    = f.error_notification class: "warning"

    = f.input :name

    = render 'submit', form: f, cancel_path: target_groups_path
