- title "Anhöriga till #{@person.name}"
%section.box.index
  %h1.box-title= h1
  %table.full.wrap
    %thead
      %tr
        %th Namn
        %th

    %tbody
      - @person.relationships.each do |relationship|
        %tr
          %td= link_to relationship.related.name, edit_person_relationship_path(@person, relationship)
          %td.delete= button_to t('actions.delete'), person_relationship_path(@person, relationship), method: :delete, data: { confirm: 'Är du säker?' }, class: "btn btn-danger btn-sm"
