.g-chart{ id: "chart-#{@chart[:id]}" }

:javascript
  function drawChart() {
    var data = google.visualization.arrayToDataTable(#{@chart[:data]});

    var options = {
      chartArea: { left: 50, top: 40, bottom: 30, right: 10 },
      title: "#{@chart[:title]}",
      legend: 'none',
      vAxis: {
        title: "Antal barn",
        format: 0,
      },
      series: {
        0: { color: '#e2431e' }
      },
      animation: {
        duration: 1200,
        startup: true,
        easing: 'out'
      }
    };

    var chart = new google.visualization.LineChart(document.getElementById('chart-#{@chart[:id]}'));
    chart.draw(data, options);
  }
  google.charts.setOnLoadCallback(drawChart);
