- title "Boendeformer"
%section.box.index
  %h1.box-title= h1
  %table.full.wrap
    %thead
      %tr
        %th Namn
        %th

    %tbody
      - @type_of_housings.each do |type_of_housing|
        %tr
          %td= link_to type_of_housing.name, edit_type_of_housing_path(type_of_housing)
          %td.delete= button_to t('actions.delete'), type_of_housing, method: :delete, data: { confirm: 'Är du säker?' }, class: "btn btn-danger btn-sm"

      %tr
        %td{ colspan: 2 }
          .actions= link_to t('actions.new'), new_type_of_housing_path, class: "btn btn-primary"
