- title "Logga in till MEKS"
%section#login.box
  %h1.box-title= h1
  .box-content
    %ul
      %li.warning
        = @error_message
    %p.login-instructions= 'För hjälp, vänd dig till IT-support på 040-34 27 27.'
    %p= 'För frågor kring MEKS, vänd dig till ensamkommandebarn@malmo.se.'
