- title "Schabloner"
%section.box.index
  %h1.box-title= h1
  %table.full.wrap
    %thead
      %tr
        %th Namn
        %th Ålder

    %tbody
      - @rate_categories.each do |rate_category|
        %tr
          %td= link_to rate_category.name, edit_rate_category_path(rate_category)
          %td= "#{rate_category.from_age}–rate_category.to_age"
