default: &defaults
  ldap:
    host: ad.example.org
    port: 636
    system_username: <ldap system username>
    system_password: <ldap system password>
    basedn: <base dn for users>
    base_group: <base for application group accounts>
    groups:
      - ldap_name: <group name for sysadmin>
        name: admin
      - ldap_name: <group name for writer>
        name: writer
      - ldap_name: <group name for reader>
        name: reader
      - ldap_name: <group name for reader with reports access>
        name: super_reader

development:
  <<: *defaults
  secret_key_base: <run $ rake secret>
test:
  <<: *defaults
  secret_key_base: <run $ rake secret>
production:
  <<: *defaults
  secret_key_base: <run $ rake secret>
