<section class="box" id="login">
  <h1 class="box-title">Logga in till MEKS</h1>
  <div class="box-content">
    <form class="login" action="/login/ok" accept-charset="UTF-8" method="post">
      <input name="utf8" type="hidden" value="✓">
      <fieldset>
        <label for="username">Användarnamn:</label>
        <input type="text" name="username" id="username" class="form-control" spellcheck="off" autocapitalize="off" autocorrect="off">
        <label for="password">Lösenord:</label>
        <input type="password" name="password" id="password" class="form-control">
        <div class="checkbox">
        </div>
        <input type="submit" name="commit" value="Logga in" class="btn btn-primary">
      </fieldset>
    </form>

    <p class="login-instructions">Använd samma användarnamn och lösenord som när du loggar in på din dator.</p>
    <p>Har du problem att logga in, vänd dig till IT-support på <span class="phone">040-34 27 27</span>.</p>
    <p>För frågor kring MEKS, vänd dig till meks@malmo.se.</p>
  </div>
</section>
