- title "Avslutsorsaker"
%section.box.index
  %h1.box-title= h1
  %table.full.wrap
    %thead
      %tr
        %th Namn
        %th

    %tbody
      - @deregistered_reasons.each do |deregistered_reason|
        %tr
          %td= link_to deregistered_reason.name, edit_deregistered_reason_path(deregistered_reason)
          %td.delete= button_to t('actions.delete'), deregistered_reason, method: :delete, data: { confirm: 'Är du säker?' }, class: "btn btn-danger btn-sm"

      %tr
        %td{ colspan: 2 }
          .actions= link_to t('actions.new'), new_deregistered_reason_path, class: "btn btn-primary"
