@import 'malmo_internal',
        'grid', 'nav',
        'refugees', 'statistics', 'reports',
        'index_views', 'show_views',
        'login', 'forms', 'print',
        'chosen.min', 'chosen-overrides',
        'g_charts';
