table {
  margin-bottom: 0;
  td,
  th {
    vertical-align: top;
    &.url,
    &.title {
      max-width: 16em;
      span {
        display: block;
        max-width: 15em;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
  td.delete {
    text-align: right;
  }
  tbody tr:last-child td {
    border-bottom: 0;
  }
}

section.box.show.statistics {
  h2.group-title {
    font-family: $sans-serif;
    font-weight: bold;
  }
  .box-content.basic .stat {
    font-family: $sans-serif;
    font-size: emize(14);
    margin-bottom: .4em;
  }
}

body.users .help-inline {
  font-family: $sans-serif;
  font-size: emize(14);
}
