table {
  margin-bottom: 0;
  td,
  th {
    vertical-align: top;
    &.url,
    &.title {
      max-width: 16em;
      span {
        display: block;
        max-width: 15em;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
  td.delete {
    text-align: right;
  }
  tbody tr:last-child td {
    border-bottom: 0;
  }
}
