section.refugees {
  form .help-inline {
    margin: .4em 0 .5em;
  }
  .summary {
    font-family: $sans-serif;
    font-size: emize(14, 16);
    margin-bottom: 1em;
  }
  .placements {
    .form-group {
      margin-bottom: .2em;
    }
    .placement {
      margin-bottom: 2em;
      .form-group.action {
        margin-top: .5em;
      }
    }
  }
}
