- title "Rapporter"
%section.box.show.reports
  %h1.box-title= h1
  .box-content.basic.form-data
    .form-group
      %ul
        %li= link_to 'Alla placeringar', reports_placements_path
        %li= link_to 'Alla ensamkommande flyktingbarn', reports_refugees_path
        %li= link_to 'Alla boenden', nope_path
