- title "Ladda ned rapport"
%section.box.show.reports.status
  %h1.box-title= h1
  .box-content.basic.form-data
    - if !@status[:finished] && !@status[:failed]
      .generating
        %p Det kan ta flera minuter att skapa din rapport. Stanna på denna sida så får du en nedladdningslänk när rapportern är klar.
        %p.queue
          Antal rapporter före i kön:
          %span= @status[:queue_size]
        %p.timer{ 'data': { created_at: @status[:created_at], status_url: @status[:status_url] } }
          Du har väntat:
          %span
    .download.finished{ class: @status[:finished] ? 'true' : '' }
      %p= link_to 'Ladda ned rapport', reports_download_path(@status[:file_id], @status[:report_type])
      %p.hint Tips: Högerklicka på länken och välj <em>Spara länk som</em> (eller liknande)
    .download.error{ class: @status[:failed] ? 'true' : '' }
      %p Något gick fel när rapporten genererades. Kontakta systemförvaltaren.
